# macOS
.DS_Store

# Node.js
node_modules/


dist/
build/
web-build/
expo-env.d.ts


*.log
logs/
*.tmp
temp/
tmp/
*.bak
*.swp
npm-debug.*
yarn-debug.*
yarn-error.*


.idea/
.vscode/

# Expo
.expo/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*


.env*.local

# TypeScript
*.tsbuildinfo


*.pem